bayesian-optimization==1.2.0
beautifulsoup4==4.9.3
binance==0.3
Boruta==0.3
catboost==0.24.1
Cython==0.29.14
datefinder==0.7.1
dateparser==1.0.0
elasticsearch==7.14.0
Flask==1.1.2
GitPython==3.1.8
Keras==2.4.3
Keras-Preprocessing==1.1.2
lightgbm==3.0.0
llvmlite==0.34.0
mysql-connector==2.2.9
mysqlclient==2.0.1
numba==0.51.2
numexpr==2.7.1
packaging==20.4
pandas==1.3.0
pandas-profiling==2.9.0
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
plotly==4.10.0
plotly-express==0.4.1
psutil==5.7.2
py==1.9.0
pyaml==20.4.0
pyarrow==2.0.0
pycaret==2.1.2
python-binance==0.7.5
python-dateutil==2.8.1
PyTweening==1.0.3
pytwitter==0.5
Quandl==3.6.2
requests==2.26.0
requests-oauthlib==1.3.0
retrying==1.3.3
schedule==1.1.0
scikit-learn==0.24.2
seaborn==0.11.0
searchtweets-v2==1.1.1
selenium==3.141.0
sklearn==0.0
SQLAlchemy==1.3.13
sqlparse==0.3.1
statsmodels==0.12.0
streamlit==1.1.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tweepy==4.3.0
twint==2.1.20
Twisted==20.3.0
TwitterAPI==2.7.5
twython==3.9.1
vaderSentiment==3.3.2
Werkzeug==1.0.1
xgboost==1.2.0
xlib==0.21
xlrd==1.2.0
XlsxWriter==1.3.6
yfinance==0.1.54
